.img {
  height: 50vh;
}

.icon {
  font-family: roboto, sans-serif;
  color: #2d3277;
  font-family: roboto, sans-serif;
}
.column {
  background-color: #ffe600;
}
.body {
  background-color: #e8e8e8;
  height: 100vh;
  overflow-x: hidden !important;
}
.box {
  background-color: white;
  border-radius: 6px;
  margin-left: 10rem !important;
}
