.card {
  height: 100%;
}

.card-title {
  flex-grow: 1;
}

.border {
  border: 2px solid #111a94 !important;
}

.letras {
  font-family: roboto, sans-serif;
  color: #111a94 !important;
}

.rowUserProfile {
  width: 15rem;
}
.imgUserProfile {
  width: 6rem;
  height: 6rem;
}

.bg {
  background-color: #ffe600;
}

.text {
  font-size: 2vh;
}
