.navBarBg {
  background-color: #ffe600;
  padding-top: 0;
}

.navItems {
  font-family: roboto, sans-serif;
  text-decoration: none;
  font-size: 1.5em;
  color: #2d3277;
}
.navLink {
  text-decoration: none;
  color: #2d3277 !important;
}
.navlink:hover {
  text-decoration: underline;
}

.brandLetter {
  font-family: "Press Start 2p", "Courier New", Courier, monospace;
  font-size: 1.5em;
  margin-left: 1rem !important;
}

.navButton {
  background-color: #2d3277 !important;
  color: white;
}
